node-red/flows_Wi-Fi_conf_OPT.flow
[{"id":"dfca7471.a1e698","type":"tab","label":"Flow 1"},{"id":"9e87c9ce.0ab558","type":"subflow","name":"final_action","info":"","in":[{"x":160,"y":160,"wires":[{"id":"63e87d10.fda444"}]}],"out":[]},{"id":"823bb7c5.3a06b8","type":"subflow","name":"MATLABd","info":"","in":[{"x":285,"y":223,"wires":[{"id":"5e7230eb.a0d37"}]}],"out":[{"x":673.0000152587891,"y":195,"wires":[{"id":"ecb0d101.fa25a","port":0}]},{"x":672.0000152587891,"y":244,"wires":[{"id":"56a5deb1.1fcc6","port":0}]}]},{"id":"e422a4b1.4bbd68","type":"subflow","name":"MOSBO","info":"","in":[{"x":106,"y":160,"wires":[{"id":"256b5c82.ddf474"}]}],"out":[{"x":740,"y":140,"wires":[{"id":"c0f855f5.8bc868","port":0}]},{"x":600,"y":200,"wires":[{"id":"c5a922d4.13516","port":1}]}]},{"id":"118bfae0.dceb75","type":"subflow","name":"SUMO","info":"","in":[{"x":140,"y":160,"wires":[{"id":"add430a1.055f9"}]}],"out":[{"x":940,"y":120,"wires":[{"id":"f124a391.69ef2","port":0}]},{"x":820,"y":220,"wires":[{"id":"7efef66a.ad45f8","port":1}]},{"x":660,"y":220,"wires":[{"id":"7f2948fa.6756b8","port":2}]}]},{"id":"7823bf3e.a929f","type":"subflow","name":"audio_conf_simulation","info":"","in":[{"x":300,"y":180,"wires":[{"id":"bce753ce.3784a"}]}],"out":[{"x":880,"y":140,"wires":[{"id":"35af6c2f.12e6c4","port":0}]},{"x":880,"y":200,"wires":[{"id":"35af6c2f.12e6c4","port":1}]}]},{"id":"cdcaa355.4bec4","type":"subflow","name":"LHD-planner","info":"","in":[{"x":100,"y":160,"wires":[{"id":"4ec20c04.8312b4"}]}],"out":[{"x":780,"y":160,"wires":[{"id":"627d25f3.2c2f6c","port":0}]},{"x":380,"y":200,"wires":[{"id":"4ec20c04.8312b4","port":2}]}]},{"id":"862f585a.fb1608","type":"subflow","name":"data_collection","info":"","in":[{"x":180,"y":120,"wires":[{"id":"30630313.587dcc"}]}],"out":[{"x":700,"y":80,"wires":[{"id":"476ec6ec.6fbf08","port":0}]},{"x":860,"y":140,"wires":[{"id":"ef1cf132.96d32","port":0}]}]},{"id":"3461e976.1bba36","type":"subflow","name":"Update Configuration","info":"","in":[{"x":60,"y":220,"wires":[{"id":"4076625c.e82c0c"}]}],"out":[{"x":760,"y":140,"wires":[{"id":"471ab8a.68f7048","port":0}]},{"x":760,"y":200,"wires":[]}]},{"id":"37a31d15.4d3942","type":"subflow","name":"network_config - UPI","info":"","in":[{"x":180,"y":120,"wires":[{"id":"a32bd970.def1e8"}]}],"out":[{"x":700,"y":80,"wires":[{"id":"22e87607.129b1a","port":0}]},{"x":860,"y":140,"wires":[{"id":"1761acd9.d4d163","port":0}]}]},{"id":"dce6dc67.8688d","type":"subflow","name":"radio_config - UPI","info":"","in":[{"x":180,"y":120,"wires":[{"id":"3a6cadde.a82fe2"}]}],"out":[{"x":700,"y":80,"wires":[{"id":"fb194992.e34548","port":0}]},{"x":860,"y":140,"wires":[{"id":"5104474d.e38f98","port":0}]}]},{"id":"6d0404f7.1e749c","type":"subflow","name":"experiment_setup - UPI","info":"","in":[{"x":140,"y":160,"wires":[{"id":"ec54d188.cc60e"}]}],"out":[{"x":1060,"y":160,"wires":[{"id":"230af17f.45f90e","port":0}]},{"x":880,"y":220,"wires":[{"id":"a78089c2.b7e168","port":1},{"id":"8d949a48.3dec18","port":1}]}]},{"id":"66b804bf.94e5fc","type":"subflow","name":"custom_config - Exec","info":"","in":[{"x":180,"y":120,"wires":[{"id":"9e0114f6.6fde88"}]}],"out":[{"x":700,"y":80,"wires":[{"id":"9c9141a1.8464d","port":0}]},{"x":860,"y":140,"wires":[{"id":"7f24b0fd.d5351","port":0}]}]},{"id":"b1a3e4ab.46ef88","type":"subflow","name":"check_par_config","info":"","in":[{"x":220,"y":140,"wires":[{"id":"2be963c9.f9a62c"}]}],"out":[{"x":560,"y":140,"wires":[{"id":"2be963c9.f9a62c","port":0}]}]},{"id":"13a89037.fb4ae","type":"subflow","name":"TODO","info":"","in":[],"out":[]},{"id":"b4f10b87.f2ed08","type":"subflow","name":"audio_conf","info":"","in":[{"x":100,"y":120,"wires":[{"id":"6ab9e85a.8226f8"}]}],"out":[{"x":1080,"y":100,"wires":[{"id":"3a1607fb.b5c448","port":0}]},{"x":860,"y":200,"wires":[{"id":"4ffad0e8.9c15c","port":1},{"id":"ff37d878.faaa28","port":1},{"id":"ddbab432.3a4508","port":0}]}]},{"id":"71b9d025.d765","type":"subflow","name":"PARETO","info":"","in":[{"x":260,"y":140,"wires":[{"id":"aade2b88.e1bde8"}]}],"out":[]},{"id":"c1af3aac.007808","type":"subflow","name":"HV_PoI","info":"","in":[{"x":260,"y":140,"wires":[{"id":"c241bb6e.7991d8"}]}],"out":[]},{"id":"63e87d10.fda444","type":"file in","z":"9e87c9ce.0ab558","name":"dataset","filename":"/home/mmehari/Desktop/SUMO/samplesValues_MOSBO.txt","format":"utf8","x":300,"y":160,"wires":[["f2c9bf6a.e713a"]]},{"id":"1e47311c.96e34f","type":"debug","z":"9e87c9ce.0ab558","name":"","active":true,"console":"false","complete":"payload","x":690,"y":160,"wires":[]},{"id":"f2c9bf6a.e713a","type":"function","z":"9e87c9ce.0ab558","name":"calc_pareto","func":"\n// Multi-dimensional quick sort implementation\nfunction qsort(a)\n{\n\tif (a.length === 0)\n\t\treturn [];\n\n\tvar left = [];\n\tvar right = [];\n\tvar pivot = a[0];\n\n\tfor (var i = a.length; --i;)\n\t{\n\t\tif (a[i][0] < pivot[0])\n\t\t\tleft.push(a[i]);\n\t\telse\n\t\t\tright.push(a[i]);\n\t}\n\n\treturn qsort(left).concat([pivot], qsort(right));\n}\n\n// Pare-to front calculation\nfunction pareto(a)\n{\n\t// Sort the pareto_array\n\tvar pareto_array = qsort(a);\n\n\t// Iteratively calculate the pareto fronts\n\tvar iter = 0;\n\twhile(iter < pareto_array.length-1)\n\t{\n\t\t// Intermediate pareto holding array\n\t\tvar pareto_intmed = [];\n\n\t\t// Search possible pareto elements above the pareto iterator element\n\t\tfor(var i=0; i<pareto_array.length; i++)\n\t\t{\n\t\t\t// Up to the current iterator, fill the intermediate array with the pareto_array\n\t\t\tif(i <= iter)\n\t\t\t\tpareto_intmed.push(pareto_array[i]);\n\t\t\t// If pareto element is greater than current item, add it to the intermediate pareto array\n\t\t\telse if(pareto_array[iter][1] > pareto_array[i][1])\n\t\t\t\tpareto_intmed.push(pareto_array[i]);\n\t\t}\n\n\t\t// Update pareto array and iterator element\n\t\tpareto_array = pareto_intmed;\n\t\titer++;\n\t}\n\n\treturn pareto_array;\n}\n\n// Create performance objective array [Audio Quality vs Exposure]\nvar per_obj = [];\nvar dataset_array = msg.payload.split('\\n').filter(function(e){return e});\nfor (i=1; i < dataset_array.length; i++)\n{\n    var dataset = dataset_array[i].split('\\t');\n    per_obj.push([parseFloat(dataset[4]), parseFloat(dataset[5])]);\n}\n\n// Calculate the pareto front of the dataset\nvar pareto_array = pareto(per_obj);\n\n// Retrieve optimum performance\nvar OPT_EXP = pareto_array[0][0];\nvar OPT_MOS = pareto_array[pareto_array.length-1][1];\n\n// Calculate the distance between each PF element and [OPT_EXP, OPT_MOS]\nvar PF_dist = [];\nfor(var i=0; i<pareto_array.length; i++)\n{\n\tPF_dist[i] = Math.sqrt(Math.pow((pareto_array[i][0]-OPT_EXP),2) + Math.pow((pareto_array[i][1]-OPT_MOS),2));\n}\n// Determine knee point index\nvar knee_pt_Idx = PF_dist.indexOf(Math.min.apply(Math, PF_dist));\n\n// Calculate knee point pair\nvar knee_pt_EXP = pareto_array[knee_pt_Idx][0];\nvar knee_pt_MOS = pareto_array[knee_pt_Idx][1];\n\nmsg.payload = {\n    PF : pareto_array,\n    OPT_EXP : OPT_EXP,\n    OPT_MOS : OPT_MOS,\n    knee_pt_EXP : knee_pt_EXP,\n    knee_pt_MOS : knee_pt_MOS\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":161,"wires":[["1e47311c.96e34f"]]},{"id":"5e7230eb.a0d37","type":"exec","z":"823bb7c5.3a06b8","command":"matlabd","addpay":true,"append":"","useSpawn":true,"timer":"10","name":"MATLABd","x":400.93751525878906,"y":222.59722900390625,"wires":[["ecb0d101.fa25a"],["56a5deb1.1fcc6"],[]]},{"id":"ecb0d101.fa25a","type":"function","z":"823bb7c5.3a06b8","name":"buf2str","func":"msg.payload = msg.payload.toString('utf8');\nreturn msg;","outputs":1,"noerr":0,"x":562.2000274658203,"y":195.1999969482422,"wires":[[]]},{"id":"56a5deb1.1fcc6","type":"function","z":"823bb7c5.3a06b8","name":"buf2str","func":"msg.payload = msg.payload.toString('utf8');\nreturn msg;","outputs":1,"noerr":0,"x":561.2000274658203,"y":244.1999969482422,"wires":[[]]},{"id":"256b5c82.ddf474","type":"function","z":"e422a4b1.4bbd68","name":"BMoptMOSBO","func":"msg.payload = \"[newSample HV_PoI] = BMoptMOSBO('\" + msg.payload + \"')\";\nreturn msg;","outputs":1,"noerr":0,"x":252.20001220703125,"y":160.1999969482422,"wires":[["c5a922d4.13516"]]},{"id":"c0f855f5.8bc868","type":"function","z":"e422a4b1.4bbd68","name":"parser","func":"var response = msg.payload;\nvar sampleSet = response.substring(response.indexOf(\"newSample =\") + 11, response.indexOf(\"HV_PoI =\")).trim();\n\nmsg.sampleSet = sampleSet.split(\" \").filter(function(e){return e;});\nmsg.HV_PoI = response.substring(response.indexOf(\"HV_PoI =\") + 8).trim();\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":140,"wires":[[]]},{"id":"c5a922d4.13516","type":"subflow:823bb7c5.3a06b8","z":"e422a4b1.4bbd68","x":440,"y":160,"wires":[["c0f855f5.8bc868"],[]]},{"id":"7f2948fa.6756b8","type":"function","z":"118bfae0.dceb75","name":"reasoning","func":"\n// Update sample index\nvar sample_Idx = msg.sample_Idx + 1;\n\n// Stopping criteria definition\nif((sample_Idx >= 100) || (sample_Idx >= msg.init_sampleSize && parseFloat(msg.HV_PoI) <= 0.01))\n{\n    msg.topic = \"experiment_finished\";\n    return [null, null, msg];\n}\n\n// Exploration phase\nif(sample_Idx < msg.init_sampleSize)\n{\n    msg.topic = \"exploration\";\n    msg.sample_Idx = sample_Idx;\n    \n    return [msg, null, null];\n}\n// Exploitation phase\nelse\n{\n    msg.topic   = \"exploitation\";\n    msg.sample_Idx = sample_Idx;\n    msg.payload = \"/home/mmehari/Desktop/SUMO/samplesValues_MOSBO.txt\";\n\n    return [null, msg, null];\n}","outputs":"3","noerr":0,"x":540,"y":160,"wires":[["d1331a7d.f9a548"],["7efef66a.ad45f8"],[]]},{"id":"7efef66a.ad45f8","type":"subflow:e422a4b1.4bbd68","z":"118bfae0.dceb75","name":"","x":700,"y":160,"wires":[["3c3a3146.7bc71e"],[]]},{"id":"d1331a7d.f9a548","type":"link out","z":"118bfae0.dceb75","name":"exploration","links":["f124a391.69ef2"],"x":655,"y":120,"wires":[]},{"id":"3c3a3146.7bc71e","type":"link out","z":"118bfae0.dceb75","name":"exploitation","links":["f124a391.69ef2"],"x":815,"y":160,"wires":[]},{"id":"bce753ce.3784a","type":"function","z":"7823bf3e.a929f","name":"simulator_cla","func":"\nif(msg.topic == \"exh_dataset\")\n{\n    context.exh_dataSet_path = msg.payload;\n}\nelse if(msg.topic == \"par_configuration\" && msg.status == \"SUCCESS\")\n{\n    context.sampleSet = msg.sampleSet.join(\" \");\n}\n\nif(typeof context.exh_dataSet_path !== 'undefined' && typeof context.sampleSet !== 'undefined')\n{\n    msg.payload = context.exh_dataSet_path + \" '\" + context.sampleSet + \"'\";\n    msg.topic = \"dataset\";\n    \n    // Reset context parameters for next round\n    delete context.sampleSet;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":560,"y":180,"wires":[["35af6c2f.12e6c4"]]},{"id":"35af6c2f.12e6c4","type":"exec","z":"7823bf3e.a929f","command":"/home/mmehari/Desktop/SUMO/simulator.sh","addpay":true,"append":"","useSpawn":"","timer":"10","name":"simulator","x":740,"y":180,"wires":[[],[],[]]},{"id":"c62e2072.e28bc","type":"inject","z":"7823bf3e.a929f","name":"exh_dataset","topic":"exh_dataset","payload":"/home/mmehari/Desktop/SUMO/samplesValues_MOSBO_EXH.txt","payloadType":"str","repeat":"","crontab":"","once":true,"x":370,"y":240,"wires":[["bce753ce.3784a"]]},{"id":"5ff39c75.38c444","type":"comment","z":"7823bf3e.a929f","name":"Start Experiment","info":"","x":620,"y":100,"wires":[]},{"id":"a259a288.0e10e","type":"exec","z":"cdcaa355.4bec4","command":"TPLHD","addpay":true,"append":"","useSpawn":false,"timer":"10","name":"TPLHD","x":420,"y":120,"wires":[["627d25f3.2c2f6c"],[],[]]},{"id":"627d25f3.2c2f6c","type":"function","z":"cdcaa355.4bec4","name":"parse initial samples","func":"\n// Round-off a sample to the nearest list of design_space array\nfunction roundoff_sample(sample, design_space)\n{\n    for (var Idx = 0; Idx < design_space.length; Idx++)\n    {\n        if(sample <= design_space[Idx])\n            break;\n    }\n\n    // If the sample has the lowest design space value\n    if(Idx === 0)\n        return parseInt(sample);\n    else if( (sample - design_space[Idx - 1]) >= (design_space[Idx] - sample) )\n        return parseInt(design_space[Idx]);\n    else\n        return parseInt(design_space[Idx - 1]);\n}\n\n// Start experiment message\nif(msg.topic == \"start_experiment\" && typeof msg.PUT !== 'undefined')\n{\n    // Construct parameter name array\n    context.par_name_array = [];\n    for (var par_name in msg.PUT)\n        context.par_name_array.push(par_name);\n        \n    // Retrieve sampleSet array\n    var sampleSet_array = msg.payload.split('\\n').filter(function(e){return e;});\n    var sampleSet_hdr  = sampleSet_array[0];\n    var sampleSet_data = sampleSet_array.slice(1);\n    \n    // Round off each sample value and place it on the discrete design space\n    for (var Idx = 0; Idx < sampleSet_data.length; Idx++)\n    {\n        var sample = sampleSet_data[Idx].split('\\t');\n        for (var i = 0; i < sample.length; i++)\n            sample[i] = roundoff_sample(sample[i], msg.PUT[context.par_name_array[i]]);\n            \n        sampleSet_data[Idx] = sample;\n    }\n    \n    // Initialize optimization phase\n    context.sampleSet_data = sampleSet_data;\n\n    // Populate header + design parameters\n    msg.sampleSet_hdr = sampleSet_hdr;\n    msg.payload = {};\n    for (var i = 0; i < sampleSet_data[0].length; i++)\n        msg.payload[context.par_name_array[i]] = sampleSet_data[0][i];\n    \n    // Delete Parameters Under Test\n    delete msg.PUT;\n    \n}\n// Exploration message\nelse if(msg.topic == \"exploration\")\n{\n    var sample_Idx = parseInt(msg.sample_Idx);\n    \n    // Populate design parameters\n    msg.payload = {};\n    for (var i = 0; i < context.sampleSet_data[sample_Idx].length; i++)\n        msg.payload[context.par_name_array[i]] = context.sampleSet_data[sample_Idx][i];\n}\n// Exploitation message\nelse if(msg.topic == \"exploitation\")\n{\n    // Populate design parameters\n    msg.payload = {};\n    for (var i = 0; i < msg.sampleSet.length; i++)\n        msg.payload[context.par_name_array[i]] = msg.sampleSet[i];\n}\n    \nreturn msg;","outputs":"1","noerr":0,"x":620,"y":160,"wires":[[]]},{"id":"ec54d188.cc60e","type":"function","z":"6d0404f7.1e749c","name":"experiment_setup","func":"\n\n// Random multicast address generating function\nfunction RAND_MCT_ADDR()\n{\n\treturn parseInt(Math.random()*15 + 224) + \".\" + parseInt(Math.random()*256) + \".\" + parseInt(Math.random()*256) + \".\" + parseInt(Math.random()*256);\n}\n\nvar MCT_ADDR = RAND_MCT_ADDR();\n\nmsg.topic = \"experiment_setup\";\nmsg.status = \"SUCCESS\";\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":160,"wires":[["230af17f.45f90e"]]},{"id":"422359ef.8e2e38","type":"function","z":"dfca7471.a1e698","name":"Experiment Setup","func":"\n// Experimentation facility description\nvar experiment_facility = {\n    type : \"testbed\",\n    name : \"w-ilab.t 2\",\n    uri : \"ec.wilab2.ilabt.iminds.be\"\n};\n\nvar LISTENER_array = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42 ];\nvar SNIFFER_array = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 55 ];\n// Group of nodes used in the experiment\nvar GROUP = {\n    SPEAKER : {\n        IF : \"wlan0\",\n        MODE : \"master\",\n        ESSID : \"test_AP\",\n        CHANNEL : \"1\",\n        HW_MODE : \"g\",\n        IF_IP : \"192.168.10.55\",\n        CTRL_IP : \"10.11.16.55\"\n    },\n    CLIENT : {\n        IF : \"wlan0\",\n        MODE : \"managed\",\n        ESSID : \"test_AP\",\n        IF_IP : \"192.168.10.56\",\n        CTRL_IP : \"10.11.16.56\"\n    },\n    LISTENERs : {\n        CTRL_IP : LISTENER_array.map(function(a) { return \"10.11.16.\" + a ; })\n    },\n    SNIFFERs : {\n        IF : \"mon0\",\n        MODE : \"monitor\",\n        CHANNEL : \"1\",\n        CTRL_IP : SNIFFER_array.map( function(a) { return \"10.11.16.\" + a ; })\n    },\n};\n\n// ******* Do not change below this line ******* //\nvar msg = {};\nmsg.experiment_facility = experiment_facility;\nmsg.GROUP = GROUP;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":170,"y":220,"wires":[["ecb88bf5.638218"]]},{"id":"9552dbe.8d55b28","type":"function","z":"dfca7471.a1e698","name":"UPI Radio Parameters","func":"\n// Default application parameters\nradio_parameters = {\n    radio_sensitivity : { GROUP : \"SNIFFERs\", value : -70 },\n    txRate            : { GROUP : \"SPEAKER\",  value : 6   },\n    txPower           : { GROUP : \"SPEAKER\",  value : 16  }\n};\n\n\n// ******* Do not change beyond this line ******* //\nvar msg = {};\nmsg.payload = radio_parameters;\nmsg.payload.EoP = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":200,"wires":[["18d48a0.c586276"]]},{"id":"14a76a.711bb897","type":"function","z":"dfca7471.a1e698","name":"UPI Network Parameters","func":"\n// Default network parameters\nnetwork_parameters = {};\n\n// ******* Do not change below this line ******* //\nvar msg = {};\nmsg.payload = network_parameters;\nmsg.payload.EoP = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":160,"wires":[["94a18aff.761178"]]},{"id":"d7f89043.b7c84","type":"function","z":"dfca7471.a1e698","name":"Collection Metrics","func":"    \n// Collection measurment definitions\nmeasurments = {\n    SNIFFER_WIFI : {\n        GROUP : \"SNIFFERs\",\n        host : \"10.11.31.5\",\n        user : \"CREW_BM\",\n        passwd : \"CREW_BM\",\n        db : \"benchmarking\",\n        IF : \"mon0\",\n        INTVAL : 100000,\n        exec_path : \"/users/mmehari/BEOF/exec/wifi_sniffer\"\n    },\n    PL_JT_LAT_MOS :{\n        GROUP : \"LISTENERs\",\n        host : \"10.11.31.5\",\n        user : \"CREW_BM\",\n        passwd : \"CREW_BM\",\n        db : \"benchmarking\",\n        IF : \"mon0\",\n        audio_BW : \"WIDE-BAND\",\n        INTVAL : 400000,\n        exec_path : \"/users/mmehari/BEOF/exec/PL_JT_LAT_MOS_RAW\"\n    }\n};\n\n// Performance objective definitions\ncontext.global.objectives = {\n    PL_JT_LAT_MOS : {\n        GROUP : \"local\",\n        host : \"10.11.31.5\",\n        user : \"CREW_BM\",\n        passwd : \"CREW_BM\",\n        db : \"benchmarking\",\n        LISTENER_MACs : context.global.LISTENER_MACs,\n        INTVAL : 3000000,\n        exec_path : \"/users/mmehari/BEOF/exec/PL_JT_LAT_MOS_parser\"\n    },\n    EI : {\n        GROUP : \"local\",\n        host : \"10.11.31.5\",\n        user : \"CREW_BM\",\n        passwd : \"CREW_BM\",\n        db : \"benchmarking\",\n        SNIFFER_MACs : context.global.SNIFFER_MACs,\n        CablelossRx : \"10\",\n        INTVAL : 3000000,\n        exec_path : \"/users/mmehari/BEOF/exec/EI_parser\"\n    }\n};\n\n// ******* Do not change below this line ******* //\nvar msg = {};\nmsg.payload = measurments;\nmsg.payload.EoP = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":240,"wires":[["3d990394.784ddc"]]},{"id":"6e1f0ef5.e5362","type":"link out","z":"dfca7471.a1e698","name":"reasoning","links":["b97bad8c.3278e"],"x":1215,"y":460,"wires":[]},{"id":"c379df5d.6893e","type":"link in","z":"dfca7471.a1e698","name":"PUT","links":["72a6250f.461e0c"],"x":35,"y":500,"wires":[["e4b571ba.1260b"]]},{"id":"5283ca07.565ce4","type":"comment","z":"dfca7471.a1e698","name":"Experiment Action","info":"","x":130,"y":660,"wires":[]},{"id":"36328554.7e3c4a","type":"comment","z":"dfca7471.a1e698","name":"Experiment Reasoning","info":"","x":140,"y":380,"wires":[]},{"id":"feca1dc3.2391e","type":"comment","z":"dfca7471.a1e698","name":"Experiment Setup + Initial Configuration","info":"In this part of the experiment, initial configuraton and setting up of the experiment is conducted.\n\nTODO\n\nAt the end of this phase, the experimentation setup will be in a known state with all default parameters configured.","x":200,"y":160,"wires":[]},{"id":"58e738eb.c131d8","type":"link in","z":"dfca7471.a1e698","name":"action","links":["61b51e14.1ec94"],"x":35,"y":720,"wires":[["fe8a2d61.243d9"]]},{"id":"61b51e14.1ec94","type":"link out","z":"dfca7471.a1e698","name":"reasoning","links":["58e738eb.c131d8"],"x":1215,"y":540,"wires":[]},{"id":"e4b571ba.1260b","type":"function","z":"dfca7471.a1e698","name":"Parameters Under Test","func":"\n// Parameters Under Test\nPUT = {\n    frameLength: [20, 40, 60],\n    txRate :     [6, 12, 18, 24],\n    bitRate :    [6400, 7200, 8000, 8800, 9600, 10400, 11200, 12000, 12800, 13600, 14400, 15200, 16000, 16800, 17600, 18400, 19200, 20000, 20800, 21600, 22400, 23200, 24000, 24800, 25600, 26400, 27200, 28000, 28800, 29600, 30400, 31200],\n    txPower :    [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]\n};\n\nmsg.PUT = PUT;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":190,"y":500,"wires":[["aeb3adc5.9f9b5"]]},{"id":"b97bad8c.3278e","type":"link in","z":"dfca7471.a1e698","name":"planning","links":["6e1f0ef5.e5362","58af274a.f68518"],"x":275,"y":460,"wires":[["aeb3adc5.9f9b5"]]},{"id":"ecb88bf5.638218","type":"subflow:6d0404f7.1e749c","z":"dfca7471.a1e698","name":"","x":390,"y":220,"wires":[["14a76a.711bb897","9552dbe.8d55b28","d7f89043.b7c84","be227025.f02ce"],[]]},{"id":"18d48a0.c586276","type":"subflow:dce6dc67.8688d","z":"dfca7471.a1e698","name":"","x":910,"y":200,"wires":[["5744051b.f6713c"],[]]},{"id":"94a18aff.761178","type":"subflow:37a31d15.4d3942","z":"dfca7471.a1e698","name":"","x":900,"y":160,"wires":[["5744051b.f6713c"],[]]},{"id":"b559d740.8f2978","type":"subflow:3461e976.1bba36","z":"dfca7471.a1e698","name":"","x":660,"y":500,"wires":[["7a938615.65b4d8"],["c9ee1216.36af"]]},{"id":"3d990394.784ddc","type":"subflow:862f585a.fb1608","z":"dfca7471.a1e698","name":"","x":920,"y":240,"wires":[["5744051b.f6713c"],[]]},{"id":"aeb3adc5.9f9b5","type":"subflow:cdcaa355.4bec4","z":"dfca7471.a1e698","name":"","x":420,"y":500,"wires":[["b559d740.8f2978"],["dfe2a7f0.017038"]]},{"id":"7a938615.65b4d8","type":"subflow:7823bf3e.a929f","z":"dfca7471.a1e698","name":"","x":900,"y":500,"wires":[["55fe2e92.714aa","23b5baaa.56cb06","7842eb09.52bf64","168a6950.81d8e7"],["295b52e7.be3afe"]]},{"id":"23b5baaa.56cb06","type":"subflow:118bfae0.dceb75","z":"dfca7471.a1e698","name":"","x":1110,"y":500,"wires":[["6e1f0ef5.e5362"],["893c79c6.92dcc8"],["61b51e14.1ec94"]]},{"id":"fe8a2d61.243d9","type":"subflow:9e87c9ce.0ab558","z":"dfca7471.a1e698","name":"","x":150,"y":720,"wires":[]},{"id":"1e784a52.aa5f86","type":"comment","z":"dfca7471.a1e698","name":"Default parameter settings","info":"","x":670,"y":100,"wires":[]},{"id":"4ec20c04.8312b4","type":"function","z":"cdcaa355.4bec4","name":"format LHD cla","func":"\n// Start experiment message\nif(msg.topic == \"start_experiment\" && typeof msg.PUT !== 'undefined')\n{\n    // Initial sample size\n    var init_sampleSize = 40;\n    var sample_Idx = 0;\n    \n    // Lower bound and upper bound calculation\n    var lower_bound = \"\";\n    var upper_bound = \"\";\n    var steps = \"\";\n    for (var key in msg.PUT)\n    {\n        var par_sort = msg.PUT[key].sort(function(a, b){return a - b;});\n        var array_sum = par_sort.reduce(function (a, b) {return a + b;}, 0);\n        var step = 2*(array_sum - par_sort.length * par_sort[0]) / ( par_sort.length * (par_sort.length - 1) );\n\n        lower_bound = lower_bound + par_sort[0] + \",\";\n        upper_bound = upper_bound + par_sort[par_sort.length - 1] + \",\";\n        steps = steps + step + \",\";\n    }\n    lower_bound = lower_bound.slice(0, -1);\n    upper_bound = upper_bound.slice(0, -1);\n    steps = steps.slice(0, -1);\n        \n    // Construct the command line argument for the Latin Hypercube Designer (LHD)\n    msg.payload = \"-s \" + init_sampleSize + \" -l \" + lower_bound + \" -u \" + upper_bound + \" -S \" + steps;\n\n    // Initial sample size and initialize sample indexer\n    msg.init_sampleSize = init_sampleSize;\n    msg.sample_Idx = sample_Idx;\n    \n    return [msg, null, null];\n}\n// Exploration and exploitation messages\nelse if(msg.topic == \"exploration\" || msg.topic == \"exploitation\")\n{\n    return [null, msg, null];\n}\nelse\n{\n    msg.payload = \"undefined message topic\";\n    return [null, null, msg];\n}","outputs":"3","noerr":0,"x":240,"y":160,"wires":[["a259a288.0e10e"],["627d25f3.2c2f6c"],[]]},{"id":"dfe2a7f0.017038","type":"debug","z":"dfca7471.a1e698","name":"planner","active":true,"console":"false","complete":"payload","x":620,"y":560,"wires":[]},{"id":"be227025.f02ce","type":"function","z":"dfca7471.a1e698","name":"custom Parameters","func":"\n// Custom parameters\ncustom_parameters = {\n    RTP_streamer : {\n        GROUP : \"SPEAKER\",\n        frameLength : 20,\n        bitRate : 16800,\n        dst_addr : \"235.5.5.5\",\n        IF : \"mon0\",\n        enc_par_path : \"/tmp/enc_par.txt\",\n        audio_path : \"/users/mmehari/BEOF/exec/audio_sample/audio_29sec.wav\",\n        exec_path : \"/users/mmehari/BEOF/exec/rtp_opus_streamer\"\n    }\n};\n\n// ******* Do not change below this line ******* //\nvar msg = {};\nmsg.payload = custom_parameters;\nmsg.payload.EoP = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":280,"wires":[["5efd44e9.5a976c"]]},{"id":"5efd44e9.5a976c","type":"subflow:66b804bf.94e5fc","z":"dfca7471.a1e698","name":"","x":900,"y":280,"wires":[["5744051b.f6713c"],[]]},{"id":"2be963c9.f9a62c","type":"function","z":"b1a3e4ab.46ef88","name":"check_par_config","func":"\nif(msg.topic == \"network_configuration\")\n{\n    context.network_configuration  = msg.status;\n}\nelse if(msg.topic == \"radio_configuration\")\n{\n    context.radio_configuration  = msg.status;\n}\nelse if(msg.topic == \"measurment_collection\")\n{\n    context.measurment_collection  = msg.status;\n}\nelse if(msg.topic == \"custom_configuration\")\n{\n    context.custom_configuration  = msg.status;\n}\n\nif(context.network_configuration == 'SUCCESS' && context.radio_configuration == 'SUCCESS' && context.measurment_collection == 'SUCCESS' && context.custom_configuration == 'SUCCESS')\n{\n    // Reset context parameters for next round\n    delete context.network_configuration;\n    delete context.radio_configuration;\n    delete context.measurment_collection;\n    delete context.custom_configuration;\n\n    msg.topic = \"start_experiment\";\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":390,"y":140,"wires":[[]]},{"id":"5744051b.f6713c","type":"subflow:b1a3e4ab.46ef88","z":"dfca7471.a1e698","name":"","x":1150,"y":220,"wires":[["72a6250f.461e0c"]]},{"id":"72a6250f.461e0c","type":"link out","z":"dfca7471.a1e698","name":"reasoning","links":["c379df5d.6893e"],"x":1275,"y":220,"wires":[]},{"id":"770c72a9.551bbc","type":"comment","z":"dfca7471.a1e698","name":"TODO","info":"1. experiment planning and reasoning blocks as node-red nodes\n   optimization, modelling, stopping criteria to be defined as part of the node-red blocks\n2. split UPI parameters from custom parameters\n3. Error handling in the UPI parameter configuration block.\n4. Experiment planning\n   latin hypercube sampling, random, exhaustive, locating array, \n5. Objective calculation parsers will be identical for different experiment execution block (i.e. testbed, cooja)\n","x":90,"y":880,"wires":[]},{"id":"ba0d6685.0b0e08","type":"comment","z":"cdcaa355.4bec4","name":"TODO","info":"1. Does TPLHD support digitized design space?\n2. What about non-uniform distribution of design space parameters?\n3. ","x":130,"y":560,"wires":[]},{"id":"d65d2e7d.03438","type":"inject","z":"dfca7471.a1e698","name":"Start","topic":"start_experiment","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":40,"wires":[["e3f6d7c4.210dc8"]]},{"id":"d562d571.3d70b8","type":"link in","z":"dfca7471.a1e698","name":"start_button","links":["e3f6d7c4.210dc8"],"x":35,"y":220,"wires":[["422359ef.8e2e38"]]},{"id":"e3f6d7c4.210dc8","type":"link out","z":"dfca7471.a1e698","name":"start_button","links":["d562d571.3d70b8"],"x":195,"y":40,"wires":[]},{"id":"a9e758ea.b7de78","type":"comment","z":"dfca7471.a1e698","name":"Experiment Planning","info":"","x":420,"y":440,"wires":[]},{"id":"9e491a8a.0482f8","type":"subflow:13a89037.fb4ae","z":"dfca7471.a1e698","name":"","x":90,"y":920,"wires":[]},{"id":"3a6cadde.a82fe2","type":"split","z":"dce6dc67.8688d","name":"","splt":"\\n","x":290,"y":120,"wires":[["fb194992.e34548"]]},{"id":"6b4da579.d1e55c","type":"comment","z":"dfca7471.a1e698","name":"Reasoning","info":"","x":1120,"y":440,"wires":[]},{"id":"1e6aa865.164528","type":"comment","z":"3461e976.1bba36","name":"Exec_UPI","info":"","x":600,"y":80,"wires":[]},{"id":"4076625c.e82c0c","type":"split","z":"3461e976.1bba36","name":"","splt":"\\n","x":170,"y":220,"wires":[["3e1e08c3.721e68","406ba976.2c33f8","1177aab.dcb6355","b5d03e57.86784"]]},{"id":"471ab8a.68f7048","type":"function","z":"3461e976.1bba36","name":"wait_until_finished","func":"\nif(msg.parts.key == \"txPower\")\n{\n    context.txPower = msg.payload;\n}\nelse if(msg.parts.key == \"txRate\")\n{\n    context.txRate = msg.payload;\n}\nelse if(msg.parts.key == \"bitRate\")\n{\n    context.bitRate = msg.payload;\n}\nelse if(msg.parts.key == \"frameLength\")\n{\n    context.frameLength = msg.payload;\n}\n\nif(typeof context.txPower !== 'undefined' && typeof context.txRate !== 'undefined' && typeof context.bitRate !== 'undefined' && typeof context.frameLength !== 'undefined')\n{\n    msg.topic = \"par_configuration\";\n    msg.sampleSet = [context.frameLength, context.txRate, context.bitRate, context.txPower];\n    msg.status = \"SUCCESS\";\n    \n    // Reset context parameters for next round\n    delete context.txPower;\n    delete context.txRate;\n    delete context.bitRate;\n    delete context.frameLength;\n    delete msg.parts;\n\n    return msg;\n}\n","outputs":1,"noerr":0,"x":610,"y":160,"wires":[[]]},{"id":"3e1e08c3.721e68","type":"switch","z":"3461e976.1bba36","name":"frameLength","property":"parts.key","propertyType":"msg","rules":[{"t":"eq","v":"frameLength","vt":"str"}],"checkall":"true","outputs":1,"x":350,"y":280,"wires":[["471ab8a.68f7048","ae5c4276.38709"]]},{"id":"406ba976.2c33f8","type":"switch","z":"3461e976.1bba36","name":"txRate","property":"parts.key","propertyType":"msg","rules":[{"t":"eq","v":"txRate","vt":"str"}],"checkall":"true","outputs":1,"x":330,"y":200,"wires":[["471ab8a.68f7048"]]},{"id":"1177aab.dcb6355","type":"switch","z":"3461e976.1bba36","name":"txPower","property":"parts.key","propertyType":"msg","rules":[{"t":"eq","v":"txPower","vt":"str"}],"checkall":"true","outputs":1,"x":340,"y":160,"wires":[["471ab8a.68f7048"]]},{"id":"b5d03e57.86784","type":"switch","z":"3461e976.1bba36","name":"bitRate","property":"parts.key","propertyType":"msg","rules":[{"t":"eq","v":"bitRate","vt":"str"}],"checkall":"true","outputs":1,"x":340,"y":240,"wires":[["471ab8a.68f7048","ae5c4276.38709"]]},{"id":"9050ff05.6a21b","type":"comment","z":"dfca7471.a1e698","name":"Experiment Execution","info":"","x":660,"y":440,"wires":[]},{"id":"6ab9e85a.8226f8","type":"exec","z":"b4f10b87.f2ed08","command":"Flash DB","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":220,"y":120,"wires":[["af57394f.8cd008"],["b6ec8439.73b4a8"],[]]},{"id":"af57394f.8cd008","type":"delay","z":"b4f10b87.f2ed08","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":100,"wires":[["353795bd.09be4a","5b32c079.799cb"]]},{"id":"5b32c079.799cb","type":"function","z":"b4f10b87.f2ed08","name":"EXP cla","func":"\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":140,"wires":[["ff37d878.faaa28"]]},{"id":"353795bd.09be4a","type":"function","z":"b4f10b87.f2ed08","name":"MOS cla","func":"\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":60,"wires":[["4ffad0e8.9c15c"]]},{"id":"3a1607fb.b5c448","type":"function","z":"b4f10b87.f2ed08","name":"EXP/MOS parser","func":"\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":100,"wires":[[]]},{"id":"c9ee1216.36af","type":"debug","z":"dfca7471.a1e698","name":"configuration","active":true,"console":"false","complete":"payload","x":870,"y":560,"wires":[]},{"id":"295b52e7.be3afe","type":"debug","z":"dfca7471.a1e698","name":"expr","active":true,"console":"false","complete":"payload","x":1110,"y":560,"wires":[]},{"id":"29708065.d50f2","type":"function","z":"6d0404f7.1e749c","name":"SNIFFER_MACs cla","func":"\nmsg.payload = \"cat /sys/class/net/\" + msg.GROUP.SNIFFERs['IF'] + \"/address\";\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":120,"wires":[["a78089c2.b7e168"]]},{"id":"338abed0.a524e2","type":"function","z":"6d0404f7.1e749c","name":"LISTENER_MACs cla","func":"\nmsg.payload = \"cat /sys/class/net/\" + msg.GROUP.SNIFFERs['IF'] + \"/address\";\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":200,"wires":[["8d949a48.3dec18"]]},{"id":"a78089c2.b7e168","type":"exec","z":"6d0404f7.1e749c","command":"exec_WR","addpay":true,"append":"","useSpawn":"","timer":"","name":"exec_WR","x":740,"y":120,"wires":[["230af17f.45f90e"],[],[]]},{"id":"8d949a48.3dec18","type":"exec","z":"6d0404f7.1e749c","command":"exec_WR","addpay":true,"append":"","useSpawn":"","timer":"","name":"exec_WR","x":740,"y":200,"wires":[["230af17f.45f90e"],[],[]]},{"id":"230af17f.45f90e","type":"function","z":"6d0404f7.1e749c","name":"format result","func":"\ncontext.global.LISTENER_MACs = \"\";\ncontext.global.SNIFFER_MACs = \"\";\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":160,"wires":[[]]},{"id":"4ffad0e8.9c15c","type":"exec","z":"b4f10b87.f2ed08","command":"MOS parser","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":710,"y":60,"wires":[["3a1607fb.b5c448"],[],[]]},{"id":"ff37d878.faaa28","type":"exec","z":"b4f10b87.f2ed08","command":"EXP parser","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":710,"y":140,"wires":[["3a1607fb.b5c448"],[],[]]},{"id":"ddbab432.3a4508","type":"link in","z":"b4f10b87.f2ed08","name":"MOS_EXP","links":["b6ec8439.73b4a8"],"x":775,"y":200,"wires":[[]]},{"id":"b6ec8439.73b4a8","type":"link out","z":"b4f10b87.f2ed08","name":"flash DB","links":["ddbab432.3a4508"],"x":335,"y":200,"wires":[]},{"id":"893c79c6.92dcc8","type":"debug","z":"dfca7471.a1e698","name":"SUMO","active":false,"console":"false","complete":"payload","x":1250,"y":500,"wires":[]},{"id":"7a90ba78.39d994","type":"file","z":"71b9d025.d765","name":"PARETO_dataset","filename":"/home/mmehari/GRAPH/samplesValues_MOSBO_PARETO.log","appendNewline":false,"createDir":false,"overwriteFile":"false","x":570,"y":160,"wires":[]},{"id":"de3b6aed.f813d8","type":"file","z":"71b9d025.d765","name":"PARETO_header","filename":"/home/mmehari/GRAPH/samplesValues_MOSBO_PARETO.log","appendNewline":true,"createDir":false,"overwriteFile":"true","x":570,"y":120,"wires":[]},{"id":"aade2b88.e1bde8","type":"function","z":"71b9d025.d765","name":"parser","func":"\nvar msg1 = {};\nvar msg2 = {};\n\nif(msg.sample_Idx === 0)\n{\n    msg1.payload = \"H:MOSBO#ITER|FrameLength,TxRate,BitRate,TxPower|Exposure,MOS\";\n}\nelse\n{\n    msg1 = null;\n}\nmsg2.payload = \"D:MOSBO\\t\" + (msg.sample_Idx + 1) + '\\t' + msg.sampleSet.join('\\t') + '\\t' + msg.payload;\n\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":370,"y":140,"wires":[["de3b6aed.f813d8"],["7a90ba78.39d994"]]},{"id":"55fe2e92.714aa","type":"subflow:71b9d025.d765","z":"dfca7471.a1e698","name":"","x":1120,"y":360,"wires":[]},{"id":"f124a391.69ef2","type":"link in","z":"118bfae0.dceb75","name":"optimization","links":["d1331a7d.f9a548","3c3a3146.7bc71e"],"x":875,"y":120,"wires":[[]]},{"id":"fb194992.e34548","type":"function","z":"dce6dc67.8688d","name":"radio_config parser","func":"\nvar msg1 = {};\nvar msg2 = {};\n\n// If there are parameters to be configured\nif(msg.parts.key !== 'EoP')\n{\n    msg1 = null;\n    msg2.parameter = msg.parts.key;\n    msg2.GROUP = msg.payload.GROUP;\n    msg2.value = msg.payload.value;\n}\n// End of Parameters (EoP) has reached\nelse\n{\n    msg1.topic = \"radio_configuration\";\n    msg1.status = \"SUCCESS\";\n    msg2 = null;\n}\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":470,"y":120,"wires":[[],["5104474d.e38f98"]]},{"id":"5104474d.e38f98","type":"function","z":"dce6dc67.8688d","name":"UPI_exec","func":"\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":140,"wires":[[]]},{"id":"a32bd970.def1e8","type":"split","z":"37a31d15.4d3942","name":"","splt":"\\n","x":290,"y":120,"wires":[["22e87607.129b1a"]]},{"id":"22e87607.129b1a","type":"function","z":"37a31d15.4d3942","name":"network_config parser","func":"\nvar msg1 = {};\nvar msg2 = {};\n\n// If there are parameters to be configured\nif(msg.parts.key !== 'EoP')\n{\n    msg1 = null;\n    msg2.parameter = msg.parts.key;\n    msg2.GROUP = msg.payload.GROUP;\n    msg2.value = msg.payload.value;\n}\n// End of Parameters (EoP) has reached\nelse\n{\n    msg1.topic = \"network_configuration\";\n    msg1.status = \"SUCCESS\";\n    msg2 = null;\n}\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":480,"y":120,"wires":[[],["1761acd9.d4d163"]]},{"id":"1761acd9.d4d163","type":"function","z":"37a31d15.4d3942","name":"UPI_exec","func":"\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":140,"wires":[[]]},{"id":"2ab3c352.d0573c","type":"comment","z":"37a31d15.4d3942","name":"Exit","info":"","x":790,"y":80,"wires":[]},{"id":"e5007c69.74092","type":"comment","z":"dce6dc67.8688d","name":"Exit","info":"","x":790,"y":80,"wires":[]},{"id":"ed806a20.cd01b8","type":"comment","z":"37a31d15.4d3942","name":"UPI_error","info":"","x":960,"y":140,"wires":[]},{"id":"9ad30f1a.569ad","type":"comment","z":"dce6dc67.8688d","name":"UPI_error","info":"","x":960,"y":140,"wires":[]},{"id":"30630313.587dcc","type":"split","z":"862f585a.fb1608","name":"","splt":"\\n","x":290,"y":120,"wires":[["476ec6ec.6fbf08"]]},{"id":"476ec6ec.6fbf08","type":"function","z":"862f585a.fb1608","name":"measurment_collection parser","func":"\nvar msg1 = {};\nvar msg2 = {};\n\n// If there are parameters to be configured\nif(msg.parts.key !== 'EoP')\n{\n    msg1 = null;\n    msg2.parameter = msg.parts.key;\n    msg2.GROUP = msg.payload.GROUP;\n    msg2.value = msg.payload.value;\n}\n// End of Parameters (EoP) has reached\nelse\n{\n    msg1.topic = \"measurment_collection\";\n    msg1.status = \"SUCCESS\";\n    msg2 = null;\n}\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":510,"y":120,"wires":[[],["ef1cf132.96d32"]]},{"id":"ef1cf132.96d32","type":"function","z":"862f585a.fb1608","name":"UPI_exec","func":"\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":140,"wires":[[]]},{"id":"3fa8a312.25ff5c","type":"comment","z":"862f585a.fb1608","name":"Exit","info":"","x":790,"y":80,"wires":[]},{"id":"9e0114f6.6fde88","type":"split","z":"66b804bf.94e5fc","name":"","splt":"\\n","x":290,"y":120,"wires":[["9c9141a1.8464d"]]},{"id":"9c9141a1.8464d","type":"function","z":"66b804bf.94e5fc","name":"custom_configuration parser","func":"\nvar msg1 = {};\nvar msg2 = {};\n\n// If there are parameters to be configured\nif(msg.parts.key !== 'EoP')\n{\n    msg1 = null;\n    msg2.parameter = msg.parts.key;\n    msg2.GROUP = msg.payload.GROUP;\n    msg2.value = msg.payload.value;\n}\n// End of Parameters (EoP) has reached\nelse\n{\n    msg1.topic = \"custom_configuration\";\n    msg1.status = \"SUCCESS\";\n    msg2 = null;\n}\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":500,"y":120,"wires":[[],["7f24b0fd.d5351"]]},{"id":"7f24b0fd.d5351","type":"function","z":"66b804bf.94e5fc","name":"UPI_exec","func":"\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":140,"wires":[[]]},{"id":"16e12daa.3c6032","type":"comment","z":"66b804bf.94e5fc","name":"Exit","info":"","x":790,"y":80,"wires":[]},{"id":"9dc42593.cd9008","type":"comment","z":"66b804bf.94e5fc","name":"UPI_error","info":"","x":960,"y":140,"wires":[]},{"id":"add430a1.055f9","type":"function","z":"118bfae0.dceb75","name":"parser","func":"\nvar msg1 = {};\nvar msg2 = {};\n\n// First appearing message. Inject the header\nif(msg.sample_Idx === 0)\n{\n    msg1.payload = msg.sampleSet_hdr + '\\n' + msg.sampleSet.join('\\t') + '\\t' + msg.payload;\n    msg1.init_sampleSize = msg.init_sampleSize;\n    msg1.sample_Idx = msg.sample_Idx;\n    msg1.HV_PoI = msg.HV_PoI;\n    msg2 = null;\n}\nelse\n{\n    msg1 = null;\n    msg2.payload = msg.sampleSet.join('\\t') + '\\t' + msg.payload;\n    msg2.init_sampleSize = msg.init_sampleSize;\n    msg2.sample_Idx = msg.sample_Idx;\n    msg2.HV_PoI = msg.HV_PoI;\n}\n\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":250,"y":160,"wires":[["fa1b4cf5.39dca","7f2948fa.6756b8"],["7f2948fa.6756b8","1ef94ec7.99ff11"]]},{"id":"1d958e36.eb75d2","type":"file","z":"c1af3aac.007808","name":"HV_PoI_dataset","filename":"/home/mmehari/GRAPH/samplesValues_MOSBO_HV_PoI.log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":560,"y":160,"wires":[]},{"id":"26593fe5.5d71c","type":"file","z":"c1af3aac.007808","name":"HV_PoI_header","filename":"/home/mmehari/GRAPH/samplesValues_MOSBO_HV_PoI.log","appendNewline":true,"createDir":false,"overwriteFile":"true","x":560,"y":120,"wires":[]},{"id":"c241bb6e.7991d8","type":"function","z":"c1af3aac.007808","name":"parser","func":"\nvar msg1 = {};\nvar msg2 = {};\n\nif(msg.sample_Idx === msg.init_sampleSize)\n{\n    msg1.payload = \"H:MOSBO#ITER|FrameLength,TxRate,BitRate,TxPower|HV_PoI\";\n    msg2.payload = \"D:MOSBO\\t\" + (msg.sample_Idx + 1) + '\\t' + msg.sampleSet.join('\\t') + '\\t' + msg.HV_PoI;\n\n    return [msg1, msg2];\n}\nelse if(msg.sample_Idx > msg.init_sampleSize)\n{\n    msg1 = null;\n    msg2.payload = \"D:MOSBO\\t\" + (msg.sample_Idx + 1) + '\\t' + msg.sampleSet.join('\\t') + '\\t' + msg.HV_PoI;\n\n    return [msg1, msg2];\n}","outputs":"2","noerr":0,"x":370,"y":140,"wires":[["26593fe5.5d71c"],["1d958e36.eb75d2"]]},{"id":"7842eb09.52bf64","type":"subflow:c1af3aac.007808","z":"dfca7471.a1e698","name":"","x":1120,"y":320,"wires":[]},{"id":"ae5c4276.38709","type":"function","z":"3461e976.1bba36","name":"format","func":"\nif(msg.parts.key == \"bitRate\")\n{\n    context.bitRate  = msg.payload;\n\n}\nelse if(msg.parts.key == \"frameLength\")\n{\n    context.frameLength  = msg.payload;\n}\n\nif(typeof context.frameLength !== 'undefined' && typeof context.bitRate !== 'undefined')\n{\n    msg = {};\n    msg.payload = {\n        \"bitRate\"       : context.bitRate,\n        \"frameLength\"   : context.frameLength\n    };\n    \n    // Reset context parameters for next round\n    delete context.bitRate;\n    delete context.frameLength;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":570,"y":260,"wires":[["7ea4cd7d.a48cc4","5d2463b2.01bd5c"]]},{"id":"5d2463b2.01bd5c","type":"split","z":"3461e976.1bba36","name":"","splt":"\\n","x":830,"y":260,"wires":[["9e171bdd.ec85c8","66d294f.5e0146c"]]},{"id":"66d294f.5e0146c","type":"switch","z":"3461e976.1bba36","name":"frameLength","property":"parts.key","propertyType":"msg","rules":[{"t":"eq","v":"frameLength","vt":"str"}],"checkall":"true","outputs":1,"x":990,"y":300,"wires":[[]]},{"id":"9e171bdd.ec85c8","type":"switch","z":"3461e976.1bba36","name":"bitRate","property":"parts.key","propertyType":"msg","rules":[{"t":"eq","v":"bitRate","vt":"str"}],"checkall":"true","outputs":1,"x":980,"y":260,"wires":[[]]},{"id":"1ef94ec7.99ff11","type":"file","z":"118bfae0.dceb75","name":"dataset","filename":"/home/mmehari/Desktop/SUMO/samplesValues_MOSBO.txt","appendNewline":false,"createDir":false,"overwriteFile":"false","x":400,"y":200,"wires":[]},{"id":"fa1b4cf5.39dca","type":"file","z":"118bfae0.dceb75","name":"header","filename":"/home/mmehari/Desktop/SUMO/samplesValues_MOSBO.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":400,"y":120,"wires":[]},{"id":"7ea4cd7d.a48cc4","type":"file","z":"3461e976.1bba36","name":"enc_par","filename":"/tmp/enc_par.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":700,"y":300,"wires":[]},{"id":"168a6950.81d8e7","type":"debug","z":"dfca7471.a1e698","name":"","active":true,"console":"false","complete":"true","x":1110,"y":400,"wires":[]},{"id":"b0c6954e.413808","type":"comment","z":"862f585a.fb1608","name":"UPI_error","info":"","x":960,"y":140,"wires":[]},{"id":"9fdffb6e.ef4ff8","type":"debug","z":"cdcaa355.4bec4","name":"stderr","active":true,"console":"false","complete":"payload","x":810,"y":100,"wires":[]}]